@font-face {
    font-family: 'montserrat-regular';
    src: url('font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('font/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat-extralight';
    src: url('font/Montserrat-ExtraLight.ttf') format('truetype');
}

* {
    font-family: 'montserrat-regular';
}

.lead {}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    margin-top: 150px;
}

.footer {
    background-color: black;
    /* Set the fixed height of the footer here */
    /* Vertically center the text there */
}

.logo {
    padding: 10px;
    width: 70px;
}

h1 {
    _color: white;
    font-family: montserrat-extralight;
    font-size: 70px;
}

h2 {
    _color: rgb(57, 174, 162);
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.btn {
    background-color: gray;
}

footer {
    color: gray;
}

footer div a {
    color: rgb(91, 91, 91);
}

.social {
    filter: invert() brightness(40%);
    width: 40px;
    margin-bottom: 5px;
}

* {
    _outline: rgba(255, 0, 0, 0.3) solid 0.5px !important;
}

.link {
    color: black;
    border: black solid 1px;
    background-color: white;
    padding: 5px;
    font-size: 30px;
}