@font-face {
    font-family: 'montserrat-regular';
    src: url('font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('font/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat-extralight';
    src: url('font/Montserrat-ExtraLight.ttf') format('truetype');
}

* {
    font-family: 'montserrat-regular';
}

.lead {}

body {
    background-color: black;
}

.footer {
    background-color: black;
    /* Set the fixed height of the footer here */
    /* Vertically center the text there */
}

.logo {
    padding: 10px;
    width: 70px;
}

@media screen and (min-width: 800px) {
    .team-images {
        padding: 0 30%;
    }
}

.team-images img {
    width: 100%;
    _max-height: 50%;
    margin: 10px 0px;
}

h1 {
    color: white;
    font-family: montserrat-extralight;
}

h2 {
    color: rgb(57, 174, 162);
}

.main-content {
    height: calc(100%-150px);
    padding-top: 150px;
}

.page-content {
    height: calc(100vh - 100px);
    padding-top: 20px;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.btn {
    background-color: gray;
}

footer {
    color: gray;
}

footer div a {
    color: rgb(91, 91, 91);
}

.social {
    filter: invert() brightness(40%);
    width: 40px;
    margin-bottom: 5px;
}